div.message.generator {
    background: rgba(247,247,248);
}

div.message.system {
    background: rgba(247,247,248);
}

div.avatar {
    background: rgb(194, 142, 210);
    padding: 5px;
    color: #fff;
    border-radius: 2px;
}

div.avatar svg {
    display: block;
    color: #fff;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

div.message.generator div.avatar {
    background: #74a89b;
}

div.message.system div.avatar {
    background: #74a89b;
}

.cell-output {
    white-space: pre-wrap
}

div.message {
    padding: 1rem;
    border-bottom: rgba(0,0,0,.1);
    flex-direction: row;
    width: 100%;
    display: flex;
}

div.message a:hover {
    color: #000;
    text-decoration: underline;
}

div.message-body {
    padding-left: 1rem;
    width: 100%;
}

.loader {
    border: 5px solid #74a89b;
    border-radius: 50%;
    border-top: 5px solid #457e70;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 0.5rem;
    margin-bottom: -5px;
    display: inline-block;
}

/* Define spin animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.chat-container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .chat-header span {
    font-weight: bold;
  }
  
  .arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
  }
  
  .arrow.up {
    border-color: #000 transparent transparent transparent;
    transform: rotate(180deg);
  }
  
  .arrow.down {
    border-color: transparent transparent #000 transparent;
  }

  div.message-header {
    display: flex;
    background-color: #e3f9e5;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  div.message-header span {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  div.message-header i {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #000 transparent transparent transparent;
  }